.heading_after {
  z-index: 9999;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 20px;
  padding-left: 15px !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
#head_text {
  font-variant: small-caps;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px !important;
  color: black;
  font-weight: 600;
}
#map_text {
  font-family: Titillium !important;
  font-variant: small-caps;
  font-size: 15px !important;
  color: white;
}
@media (min-width: 768px) {
  .layout_div {
    padding: 50px;
  }
}
.grid_lay {
  background-color: black;
  border-radius: 20px;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 3px;
}
#img_div {
  border: 1px solid #dcdcdc;
  border-radius: 10px;
}
